
html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  

}

body {
    margin-bottom: 60px;
    background-color: #272727;
    color: #ffffff
}

navbar {
    background-color: #000000;
}

.footer {
    height: fit-content;
    background-color: #8f2e2e
}