@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Gardenia Chinese Takeaway</h1>
    <p>At Gardenia Chinese Takeaway, we ofer an extensive menu of delicious and authentic freshly prepared Chinese takeaway food. 
        <br />Order online and collect at our shop and enjoy our dishes in the comfort of your own home.</p>
</div>
